body {
    background-color: #eeeeee;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
}


/* NAVEGADOR */

.navegador {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    max-height: 50px;
    background-color: #000624;
    z-index: 100;
    padding: 10px;
    width: 100%;
}


.logo img{
    width: 180px;
    height: 80px;
    transition: transform 0.5s ease-in-out;   
}

.logo img:hover{
    transform: scale(1.2);
}

.opciones {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

#links {
    list-style: none;
    padding: 20px;
    margin: 20px;
    display: flex;
}

#links li {
    margin-right: 30px;
    font-size: 1.5vw;
}

#links a:link {
    color: #ffffff;
    text-decoration: none;
}

#links a:visited {
    color: #ffffff;
    text-decoration: none;
}

#links a:hover{
    color: #ffb700;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* M.Q PANTALLAS MAS CHICAS */

@media (max-width: 768px) {
    .navegador {
        display: flex;
        padding: 20px;
    }

    nav {
        width: 100%;
    }
    
    #links {
        justify-content: center;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    #links li {
        font-size: 20px;
    }

    #links a {
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
    }
}

/* M.Q PANTALLAS MAS GRANDES */

@media (min-width: 768px) {
    .navegador {
        display: flex;
        padding: 20px;
    }

    nav {
        width: 100%;
    }

    #links {
        justify-content: center;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    #links a{
        color: #ffffff;
        text-decoration: none;
    }
}

/* MOTOR BUSQUEDA */

.menu {
    margin-top: 70px;
    background-image: url('images/fondos/fondo-inicio.png');
    background-size: cover;
    background-position: center;
    height: 530px;
    padding: 20px;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

.motor-de-busqueda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(110, 114, 139, 0.555); 
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    gap: 15px;
}

.motor-de-busqueda h1 {
    font-size: 1.8rem;
    color: white;
    font-family: sans-serif;
    text-align: left;
    margin: 10px;
}

.busqueda-formulario {
    display: flex;
    flex-direction: row;
    gap: 15px; 
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
}

.busqueda-opcion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.busqueda-opcion input,
.busqueda-opcion select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
}

.boton-buscar {
    background-color: #000624;
    color: white;
    border: none;
    padding: 10px;
    width: 10%;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-buscar:hover {
    background-color: #3278c4;
}

.boton-buscar::before {
    content: '\1F50D';
    font-size: 1rem;
    margin-right: 5px;
}

/* M.Q PANTALLAS MAS CHICAS */

@media (max-width: 1080px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .motor-de-busqueda {
        align-items: flex-start;
    }
    
    .busqueda-formulario {
        flex-direction: column; 
        gap: 10px; 
    }

    .busqueda-opcion {
        width: 100%; 
    }

    .busqueda-opcion input,
    .busqueda-opcion select {
        width: 100%; 
    }

    .boton-buscar {
        width: 50px; 
    }
}

/* CENTRO */

.texto-inicio {
    display: flex;
    background-color: #000624;
    width: 100%;
    height: 300px;
    align-items: center;
}

.texto-inicio p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    color: #ffffff;
    margin: 20px 0;
    padding: 20px;
}

/* CLICKEAR */


.titulo-busqueda {
    font-size: 2em;
    text-align: center;
    justify-content: center; 
    padding: 30px;
    margin: 50px;
}

.seleccion {
    display: flex;
    padding: 40px;
}

.div-alquilar, .div-comprar {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.seleccion img {
    width: 100%;
    height: auto;
}

.seleccion a:link {
    color: #ffffff;
    text-decoration: none;
}

.seleccion a:visited {
    color: #ffffff;
    text-decoration: none;
}

.seleccion a:hover {
    color: #000624;
    transition: color 0.4s ease-out;
}

.texto-img {
    position: absolute;
    top: 45%;
    color: #000624;
    font-size: 2.5vw;
    margin-top: 10px;
}

/* M.Q PANTALLAS CHICAS */

@media (max-width: 768px) {
    .seleccion {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .div-alquilar, .div-comprar {
        width: 100%;
        margin-bottom: 20px;
    }

    .seleccion img {
        width: 100%;
    }

    .texto-img {
        font-size: 4vw;
    }
}


/* PROPIEDADES DESTACADAS */

.destacadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo-destacadas {
    text-align: center;
    font-size: 2.3vw;
    margin: 50px;
}

.destacadas-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-family: sans-serif;
    margin: 60px;
}

.destacada-bloques {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #adb3d1;
    padding: 20px;
}

.destacada-bloques h5 {
    font-size: 1vw;
}

.bloque-1 img {
    width: 100%;
    height: auto;
}

.bloque-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.bloque-2-1 {
    text-align: left;
    font-size: 1.5vw;
    font-weight: 700;
    width: 100%;
}

.bloque-2-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icono-1, .icono-2 {
    display: flex;
    align-items: center;
    width: 50%;
}

.icono-1 img, .icono-2 img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

/* M.Q PARA PANTALLAS CHICAS */

@media (max-width: 768px) {
    .bloque-2 h5{
        font-size: 16px;
    }

    .bloque-2 span {
        font-size: 18px;
    }
}


/* PAG DE PROPIEDADES */

/* BUSCADOR - FILTROS */

.search-box {
    margin-top: 70px;
    background-color: #c6c6c6;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.search-propiedades {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.search-propiedades input,
.search-propiedades select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    min-width: 120px;
    max-width: 200px;
    box-sizing: border-box;
    height: 40px;
}

/*PROPIEDADES*/

.titulo-propiedades h2 {
    background-color: #000624;
    color: #ffffff;
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
    padding: 20px;
}

.propiedades {
    display: flex;
    font-family: sans-serif;
    flex-wrap: wrap;
    justify-content: center;  
    width: 100%;
    margin: 40px;
}

.div-propiedades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 10px;
    margin: 40px;
    border-radius: 10px;
    background-color: #b5b5b5;
    padding: 20px;
}

.div-propiedades img {
    width: 100%;
    height: auto;
}

.prop-precio span{
    font-weight: 700;
    font-size: 1.8vw;
}


/* PROPIEDADES PAGINAS INDIVIDUALES */

.propiedad-individual {
    display: flex;
    flex-direction: column;
    margin: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.propiedad-titulo {
    margin-top: 70px;
    border-bottom: 2px solid #000000;
}

.propiedad-titulo h2 {
    font-size: 2vw;
    margin-bottom: 10px;
}

.propiedad-titulo span {
    font-weight: 700;
    font-size: 2vw;
}

.propiedad-imagen img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#foto {
    width: 40%;
    height: 50%;
    margin: 0 auto;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-img {
    display: flex;
    justify-content: center;
    width: 100%; 
    overflow: hidden;
}

.slider-img img{
    width: 10%;
    height: 10%; 
}

#anterior, #siguiente {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#anterior {
    left: 200px;
}

#siguiente {
    right: 200px;
}

.propiedad-ficha {
    display: flex;
    gap: 20px;
    background-color: #c6c6c6;
    padding: 20px;
}

.propiedad-ficha h4{
    font-size: 1.5vw;
    border-bottom: 2px solid #000000;
}

.propiedad-ficha ul {
    font-size: 1vw;
    list-style: none;
}

.propiedad-ficha li::before {
    content: '✔';
    color: #0b1f84;
    font-size: 1vw;
    margin-right: 10px;
    display: inline-block;
}

.descripcion p{
    padding-left: 50px;
}

.propiedad-ficha-izq {
    width: 70%;
    margin: 20px 100px 20px 60px;
}

.propiedad-ficha-der {
    width: 30%;
    margin: 20px 100px 20px 60px;
    display: flex;
    flex-direction: column;
}

.propiedad-formulario input,
.propiedad-formulario textarea,
.propiedad-formulario button{
    width: 100%;
}

.propiedad-formulario label {
    align-items: left;
}

/* M.Q PANTALLAS MAS CHICAS */

@media (max-width: 768px) {
    .propiedad-titulo h2 {
        font-size: 20px;
    }

    .propiedad-titulo span {
        font-size: 20px;
    }

    .propiedad-ficha {
        display: flex;
        flex-direction: column;
    }
    .propiedad-ficha h4 {
        font-size: 16px;
    }

    .propiedad-ficha ul {
        font-size: 12px;
    }

    .descripcion {
        font-size: 12px;
    }

    .propiedad-ficha-der {
        flex-direction: column;
        width: 80%;
    }

}
/* SOBRE NOSOTROS */

.nosotros {
    margin: auto;
    padding: auto;
}

.caja-info {
    position: relative;
    margin-top: 70px;
    padding: 20px;
    background-image: url('images/fondos/historia.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}

.caja-info h2{
    font-size: 3vw;
    color: #ffffff;
}

.caja-historia {
    position: absolute;
    top: 210px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 2px solid #ddd;
}

.caja-historia p {
    font-size: 1.8vw;
    font-family: "Wix Madefor Text";
}

.caja-separacion {
    margin-top: 150px;
    text-align: center;
    font-size: 2vw;
}

.caja-proposito {
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.vision, .mision, .valores {
    flex: 1;
    min-width: 200px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}

.caja-proposito h3 {
    font-size: 25px;
}

.caja-proposito ul{
    list-style: none;
}

/* CONTACTO */

.contacto {
    margin: auto;
    padding: auto;
}

.titulo-contacto {
    margin-top: 70px;
    padding: 100px;
    background-image: url('images/fondos/fondo-contacto.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.titulo-contacto h2{
    font-size: 3.5vw;
    color: #ffffff;
}

.texto-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.texto-contacto p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8vw;
}

.form {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 700px;
}

.izquierda {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info-contacto {
    text-align: center;
    height: 30%;
    background-color: #000624;
}

.info-contacto h6 {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2vw;
}

.mapa {
    padding: 10px;
    text-align: center;
    height: 70%;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.formulario {
    width: 50%;
    background-color: #000624;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
}

.formulario h6 {
    font-size: 1.5vw;
    text-align: left;
    margin-left: 75px;
    color: #ffffff;
    margin-bottom: 30px;
}

input{
    background-color: #c6c6c6; 
    width: 80%; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #c6c6c6; 
    width: 80%; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ffffff; 
    border-color: #ffffff; 
    border-style: solid; 
    border-radius: 10px;  
    width: 80%;   
    cursor: pointer;
}

label {
    display: block;
    float: center;
    color: #ffffff;
    text-align: left;
    margin-left: 75px;
}

/* M.Q PANTALLAS CHICAS */

@media (max-width: 786px) {
    .titulo-contacto h2 {
        font-size: 20px;
    }

    .texto-contacto p {
        font-size: 16px;
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .izquierda {
        width: 100%;
    }

    .info-contacto h6 {
        font-size: 16px;
    }

    .mapa {
        width: 100%;
        height: 300px;
    }

    .formulario {
        width: 100%;
    }
    
    .formulario h6 {
        font-size: 18px;
        margin-left: 30px;
    }

    .label {
        font-size: 20px;
        margin-left: 30px;
    }
}

/* PIE DE PAGINA */

footer {
    width: 100%;
    background-color: #000624;
    padding: 30px;
    box-sizing: border-box;
}

.contacto-central {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.izquierda, .centro, .derecha {
    flex: 1; 
    margin: 0 10px; 
}

.izquierda {
    text-align: left;
    margin-left: 20px;
}

.izquierda img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle; 
    display: inline-block;
}

.izquierda h4 {
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 30px;
    margin-bottom: 0;
}

.izquierda p {
    color: #ffffff;
    font-size: 1vw;
}

.izquierda .ubicacion-text {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}

.centro-logo img {
    width: 320px;
    height: 160px;
}

.centro-redes {
    margin-left: 50px;
}

.centro-redes img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;   
}

.centro-redes img:hover {
    transform: scale(1.5);
}

.derecha {
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.derecha h2 {
    color: #ffffff;
    font-size: 1.5vw;
}

.derecha ul {
    list-style: none;
    color: #ffffff;
}

/* M.Q PARA PANTALLAS CHICAS */

@media (max-width: 768px) {
    .contacto-central {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .centro-logo img {
        width: 200px;
        height: 100px;
    }

    .izquierda, .centro, .derecha {
        margin: 10px 0;
    }

    .izquierda h4, .derecha h2 {
        font-size: 4vw;
    }

    .izquierda p {
        font-size: 3vw;
    }
}

/* M.Q para dispositivos chicos */

@media (max-width: 480px) {
    .contacto-central {
        padding: 0 15px;
    }

    .izquierda img, .centro-redes img {
        width: 25px;
        height: 25px;
    }

    .izquierda h4, .derecha h2 {
        font-size: 5vw;
    }

    .izquierda p {
        font-size: 3.5vw;
    }

    .centro-logo img {
        width: 150px;
        height: 80px;
    }

    .centro-redes img {
        margin-left: 20px;
    }
}