body {
    background-color: #eeeeee;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
}


/* NAVEGADOR */

.navegador {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 50px;
    background-color: #000624;
    font-size: 1.3vw;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 10px;
}



.navegador img{
    width: 180px;
    height: 80px;
    transition: transform 0.5s ease-in-out;   
}

.navegador img:hover{
    transform: scale(1.2);
}

.navegador nav{
    margin-left: auto;    
}

#links {
    list-style: none;
    padding: 20px;
    margin: 20px;
    display: flex;
}

#links li {
    margin-right: 30px;
}

#links a:link {
    color: #ffffff;
    text-decoration: none;
}

#links a:visited {
    color: #ffffff;
    text-decoration: none;
}

#links a:hover{
    color: #ffb700;
    text-decoration: none;
    transition: color 0.4s ease;
}


/* INICIO */


.texto-inicio {
    margin-top: 70px;
    background-image: url('images/fondo-inicio.png');
    background-size: cover;
    background-position: center;
    height: 530px;
    padding: 20px;
    text-align: center;
}

.texto-inicio p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
    color:#ffffff;
}

.texto-medio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.texto-medio h2{
    color: #000624;
    text-align: center;
    font-size: 3vw;
}

.texto-medio p{
    padding: 10px;
    text-align: center;
    font-size: 2vw;
}


/* CLICKEAR */

.busqueda {
    background-color: #ffffff;
}

.titulo-busqueda {
    font-size: 2.5vw;
    text-align: center;
    justify-content: center; 
    padding: 30px;
}

.seleccion {
    display: flex;
    padding: 40px;
}

.div-alquilar, .div-comprar {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.seleccion img {
    width: 100%;
    height: auto;
}

.seleccion a:link{
    color: #ffffff;
    text-decoration: none;
}

.seleccion a:visited{
    color: #ffffff;
    text-decoration: none;
}

.seleccion a:hover{
    color: #000624;
    transition: color 0.4s ease-out;
}

.texto-img {
    position: absolute;
    top: 45%;
    color: #000624;
    font-size: 2.5vw;
}

/* VISTA DE PROPIEDADES */


.propiedades h3 {
    background-color: #000624;
    color: #ffffff;
    text-align: center;
    font-size: 1.8vw;
}

.propiedades .div-prop-2, .div-prop-3 {
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;  
}

.div2 .departamento1, .departamento2, .departamento3,
.div3 .casa1, .casa2, .casa3 {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    min-width: 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subtitulo-propiedades { 
    background-color: black;
    text-align: center;
    color: white;
}


/* SOBRE NOSOTROS */

.nosotros {
    margin: auto;
    padding: auto;
}

.caja-info {
    position: relative;
    margin-top: 70px;
    padding: 20px;
    background-image: url('images/historia.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}

.caja-info h2{
    font-size: 3vw;
    color: #ffffff;
}

.caja-historia {
    position: absolute;
    top: 210px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    border: 2px solid #ddd;
}

.caja-historia p {
    font-size: 1.8vw;
    font-family: "Wix Madefor Text";
}

.caja-separacion {
    margin-top: 150px;
    text-align: center;
    font-size: 2vw;
}

.caja-proposito {
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;  
}


.vision, .mision, .valores {
    flex: 1;
    min-width: 200px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
}

.caja-proposito h3 {
    font-size: 25px;
}

.caja-proposito ul{
    list-style: none;
}

/* CONTACTO */

.contacto {
    margin: auto;
    padding: auto;
}

.titulo-contacto {
    margin-top: 70px;
    padding: 100px;
    background-image: url('images/fondo-contacto.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.titulo-contacto h2{
    font-size: 3.5vw;
    color: #ffffff;
}

.texto-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 50px;
}

.texto-contacto p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
}

.form {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 700px;
}

.izquierda {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info-contacto {
    text-align: center;
    height: 30%;
    background-color: #f0f0f0;
}

.info-contacto h6 {
    color: #000624;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2vw;
}

.mapa {
    padding: 10px;
    text-align: center;
    height: 70%;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.formulario {
    width: 50%;
    background-color: #000624;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
}

.formulario h6 {
    font-size: 1.5vw;
    text-align: left;
    margin-left: 75px;
    color: #ffffff;
    margin-bottom: 30px;
}

input{
    background-color: #c6c6c6; 
    width: 500px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #c6c6c6; 
    width: 500px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ffffff; 
    border-color: #ffffff; 
    border-style: solid; 
    border-radius: 10px;  
    width: 520px;   
    cursor: pointer;
}

label {
    display: block;
    float: center;
    color: #ffffff;
    text-align: left;
    margin-left: 75px;
}

/* PIE DE PAGINA */

footer {
    width: 100%;
    background-color: #000624;
    padding: 30px;
    box-sizing: border-box;
}

.contacto-central {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.izquierda, .centro, .derecha {
    flex: 1; 
    margin: 0 10px; 
}

.izquierda {
    text-align: left;
    margin-left: 20px;
}

.izquierda img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle; 
    display: inline-block;
}

.izquierda h4 {
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 30px;
    margin-bottom: 0;
}

.izquierda p {
    color: #ffffff;
    font-size: 1vw;
}

.izquierda .ubicacion-text {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}

.centro-logo img {
    width: 320px;
    height: 160px;
}

.centro-redes {
    margin-left: 50px;
}

.centro-redes img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;   
}

.centro-redes img:hover {
    transform: scale(1.5);
}

.derecha {
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.derecha h2 {
    color: #ffffff;
    font-size: 1.5vw;
}

.derecha ul {
    list-style: none;
    color: #ffffff;
}

/* M.Q para dispositivos medianos */

@media (max-width: 768px) {
    .contacto-central {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .centro-logo img {
        width: 200px;
        height: 100px;
    }

    .izquierda, .centro, .derecha {
        margin: 10px 0;
    }

    .izquierda h4, .derecha h2 {
        font-size: 4vw;
    }

    .izquierda p {
        font-size: 3vw;
    }
}

/* M.Q para dispositivos chicos */

@media (max-width: 480px) {
    .contacto-central {
        padding: 0 15px;
    }

    .izquierda img, .centro-redes img {
        width: 25px;
        height: 25px;
    }

    .izquierda h4, .derecha h2 {
        font-size: 5vw;
    }

    .izquierda p {
        font-size: 3.5vw;
    }

    .centro-logo img {
        width: 150px;
        height: 80px;
    }

    .centro-redes img {
        margin-left: 20px;
    }
}